.DS_Store
*.ipynb
__init__.py
*.swp
__pycache__
conf_test.yaml.*
burn_results_test
check_points
labels.csv
logs_test
models_test
old_helper.py
old_main.py
runs_test
test_set_files.txt
test.py
tiles_test
train_set_files.txt
BlackBirdDetection
checkpoints_dir
logs_test
models_test
new_bird_models
old_src
plain_tiles
run.sh
runs_test
test_logs
test_models
test_set_files.txt
test_set_files.txtbck
tiles_test
train_set_files.txt
train_set_files.txtbck
training_testing_files
Untitled.ipynb
